body {
     margin: 0;
     padding: 0;
}

.navbar {
     background-color: rgba(158, 235, 43, 0.842);
     color: #fff;
     width: 100%;
     top: 0;
}

.navbar-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     max-width: 1420px; 
     margin: 0 auto;
     width: 100%;
}

.navbar-logo {
     height: 4.4rem;
     width: auto;  
     cursor: pointer;
}

.navbar-links {
     list-style: none;
     display: flex;
}

.navbar-links li {
     margin-left: 2rem;
}

.navbar-links a {
     color: black;
     text-decoration: none;
     font-size: 1.2rem;
     transition: all 0.5s ease;
}

.navbar-links a:hover {
     color: #8a8585;
     font-size: 18px;
}
