body{
     height: 120vh;
}

.scrollIndicator {
     position: fixed;
     top: 0;
     left: 0;
     height: 68px;
     background: #3B8C66;
     transform-origin: left;
     width: 100%;
     z-index: 100;
}
