.scrollIndicator {
     position: fixed;
     top: 0;
     left: 0;
     height: 68px;
     background: #3B8C66;
     transform-origin: left;
     width: 100%;
     z-index: 100;
}

.Calculate-btn{
     border-radius: 10px;
     font-family: sans-serif;
     background-color: #d9d8d8;
     font-size: 120%;
     margin-top: 3vh;
     margin-bottom: 2vh;
     margin-left: 44.5%;
     padding: 10px;
     transition: all 0.15s linear;
     cursor: pointer;
}

.Calculate-btn:hover{
     scale: 1.1;
     color: white;
     background-color: black;
     border-color: black;
}

.Accordion-Elements{
     background-color: white;
     transition: scale 0.15s linear;
}

.Accordion-Elements:hover{
     scale: 1.01;
     background-color: #ece5e5;
}

.Accordion-Elements .Element-title{
     font-size: 130%;
}