body {
    margin: 0;
    padding: 0;
}

.Logo-img{
    width: 4vw;
}

.linkPages-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s linear; 
}


.linkPages-btn:hover{
    scale: 1.07;
}