.review-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     width: calc(20% - 20px);
     box-sizing: border-box;
     padding: 15px;
     border-radius: 10px;
     width: 15%;
     height: 350px;
     background-color: rgba(208, 204, 204, 0.489);
     margin-bottom: 2%;
     transition: all 0.14s linear;
}

.review-container:hover{
     background-color: rgba(208, 204, 204, 0.696);
     scale: 1.07;
}

.review-container img {
     border-radius: 50%;
     width: 100px;
     height: 100px;
     object-fit: cover;
}

.review-container .userReview {
     color: black;
     font-size: 20px;
     word-wrap: break-word;
     margin-top: 10px;
}
